@import "tailwindcss";

@utility bg-ethereal-mesh {
  background: radial-gradient(at 80% 20%, #D1F2EB 0%, transparent 50%),
              radial-gradient(at 20% 80%, #E8DAEF 0%, transparent 50%),
              #EBF5FB;
}

@layer utilities {
  .scrollbar-hide {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
  .scrollbar-hide::-webkit-scrollbar {
    display: none; /* Chrome, Safari and Opera */
  }
}

